---
---

{% include header.html page_name=" : Archive" %}

<div class="left-column">
    {% include bio_sidebar.html %}
    {% include posts_list.html %}
</div>

<div class="right-column">

<h2>Browse by tag</h2>

    {% include tags_list.html %}

<h2>Browse by date</h2>

  <div class="posts-list">
  {% for post in site.posts %}

        {% capture year_of_current_post %}
        {{ post.date | date: "%Y" }}
        {% endcapture %}

        {% capture year_of_previous_post_in_set %}
        {{ site.posts[forloop.index].date | date: "%Y" }}
        {% endcapture %}

        {% if forloop.first %}
        <h2>{{ year_of_current_post }}</h2>
        <ul>
        {% endif %}
        <div id="{{ post.anchor_id }}">
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        </div>
        {% if forloop.last %}
        </ul>
        {% else %}
        {% if year_of_current_post != year_of_previous_post_in_set %}
        </ul>

        <h2>{{ year_of_previous_post_in_set }}</h2>
        <ul>
        {% endif %}
        {% endif %}

  {% endfor %}

  </div>
</div>

{% include footer.html %}

