---
---
{% include header.html page_name=" : Bio" %}

<div class="left-column">
</div>

<div class="right-column">
<div>
<h2>Speaker bio</h2>
<p>Anna Shipman is Chief Technology Officer at <a href="https://www.koothplc.com/">Kooth</a>, pioneering great digital mental healthcare for everyone.</p>

<p>With over two decades of software engineering experience, Anna has led teams both large and small. Before joining Kooth, she served as the Technical Director for Customer Products at the Financial Times, overseeing the award-winning <a href="https://ft.com">FT.com website</a> and FT iPhone and Android apps. She also played a crucial role in launching the <a href="https://www.gov.uk/">GOV.UK</a> website during her time at the Government Digital Service.</p>
<p>She <a href="http://www.annashipman.co.uk/speaking.html">speaks at conferences</a>, <a href="http://www.annashipman.co.uk/jfdi.html">blogs on her personal website</a>, has a <a href="https://mailchi.mp/819c19b20f3e/sign-up-to-anna-shipmans-mailing-list">mailing list</a> and is always up for a game of pool.</p>
</div>
</div>

{% include footer.html %}
