---
---
{% include header.html page_name=" : Bio" %}

<div class="left-column">
</div>

<div class="right-column">
<div>
<h2>Speaker bio</h2>
<p>Anna Shipman is Technical Director for Customer Products at the <a href="https://www.ft.com/">Financial Times</a>, leading on the award-winning <a href="https://www.ft.com">FT.com</a> website and the FT iPhone and Android apps.</p>

Prior to that, she was the UK government's <a href="https://governmenttechnology.blog.gov.uk/2016/11/18/welcome-to-our-new-open-source-lead/">Open Source Lead</a> at the <a href="https://gds.blog.gov.uk/about/">Government Digital Service</a>.

<p>She is an <a href="http://www.annashipman.co.uk/cv.html">international speaker</a>. She <a href="http://www.annashipman.co.uk/jfdi.html">blogs</a>, <a href="https://twitter.com/annashipman/">tweets</a> and is always up for a game of pool.</p>
</div>
</div>

{% include footer.html %}
