---
---
{% include header.html page_name=" : Bio" %}

<div class="left-column">
</div>

<div class="right-column">
<div>
<h2>Speaker bio</h2>
<p>Anna Shipman is a Chief Technology Officer, most recently at <a href="https://www.koothplc.com/">Kooth</a>, an AIM-listed company delivering digital mental health for young people in the UK and US. At Kooth, she played a key role in the company's US expansion, including leading the delivery of a new US product, now representing 70% of the company's revenue, and she oversaw Kooth's first AI strategy, taking AI from strategy to production in a regulated mental health environment.</p>

<p>Before joining Kooth, she served as the Technical Director for Customer Products at the Financial Times, overseeing the award-winning <a href="https://ft.com">FT.com website</a> and FT iPhone and Android apps. She also played a crucial role in launching the <a href="https://www.gov.uk/">GOV.UK</a> website during her time at the Government Digital Service. She has over two decades of software engineering experience and is passionate about making complex ideas accessible.</p>

<p>She <a href="http://www.annashipman.co.uk/speaking.html">speaks at conferences</a>, <a href="http://www.annashipman.co.uk/jfdi.html">blogs on her personal website</a>, and is always up for a game of pool.</p>
</div>
</div>

{% include footer.html %}
