---
---
{% include header.html page_name=" : CV" %}

<div class="left-column">

    <p>I am a technical director and software developer living and working in London.</p>
    <p>I am Technical Director for Customer Products at the <a href="https://www.ft.com/">Financial Times</a>, leading on the award-winning <a href="https://www.ft.com">FT.com</a> website and the FT iPhone and Android apps.</p>
    <p>I write about tech, leadership and tech leadership on my <a href="jfdi.html">blog, JFDI.</a> I also <a href="http://twitter.com/annashipman">tweet</a>, occasionally <a href="https://github.com/annashipman">code</a>, and play pool.</p>
<p>You can see a <a href="/bio.html">slightly longer bio</a> or have a look at my <a href="/cv.html">CV</a> for more.</p>
</div>

<div class="right-column">
<div>
<h2>CV</h2>

<p>My <a href="AnnaShipmanCV.pdf">CV</a> (as a PDF).</p>

<p>Me on <a href="https://github.com/annashipman/" target="_blank">GitHub</a>.

<p>Me on <a href="https://twitter.com/annashipman">Twitter</a>.

<p>Me on <a href="http://www.linkedin.com/in/annashipman" target="_blank">LinkedIn</a>.</p>

<p>My <a href="/bio.html">speaker bio</a>.</p>

<h2>Speaking</h2>

<p>I regularly speak at conferences. See my <a href="/speaking.html">Speaking</a> page for recent talks.</p>

<h2>Writing</h2>

<p>My <a href="/jfdi.html">blog, JFDI</a>.</p>
<p>I have written a chapter about DevOps at GDS for the book <a href="http://blog.buildqualityin.com/"> Build Quality In</a>.</p>
<p>I wrote the sections on <a href="https://www.gov.uk/service-manual/technology/making-source-code-open-and-reusable">making source code open and reusable</a> and <a href="https://github.com/gds-attic/government-service-design-manual/blob/master/service-manual/agile/running-retrospectives.md">running retrospectives</a> in the <a href="https://www.gov.uk/service-manual">Government Service Design Manual</a>.</p>
<p>I have written several posts on the <a href="https://medium.com/@anna.shipman">FT Product & Technology blog</a>, the <a
href="https://gdstechnology.blog.gov.uk/author/annashipman/">GDS technology
blog</a>, the <a href="https://gds.blog.gov.uk/author/anna-shipman/">GDS blog</a>
and the <a href="https://governmentasaplatform.blog.gov.uk/author/annashipman/">Government as a Platform</a> blog. All those posts can also
be read on <a href="/jfdi.html">my own blog</a>.


</div>
            </div>

{% include footer.html %}
