---
---
{% include header.html page_name=" : Etc" %}
<div class="right-column">

<h1>A comic</h1>
<p>A <a href="https://annashipman.tumblr.com/">comic about Grace Hopper</a>, my coursework from the highly recommended Drawing the Graphic Novel course at the <a href="https://www.royaldrawingschool.org/courses/public-courses/">Royal Drawing School</a>.</p>

<h1>Book reviews</h1>
<p>A website from my former incarnation, as one of <a href="https://www.list.co.uk/">The List</a>'s book reviewers:
<a href="annasbookcorner/index.html" target="_blank">Anna's Book Corner</a>.</p>


<h1>Games</h1>
<p>Some games that I wrote, mostly unplayable...</p>
<h3>Snake</h3>
<p>My version of the Nokia phone game. Purely for experimental purposes. This is
version 1.0 – playable, but I had many more things to do, maybe someday I will... Java; <a href="https://github.com/annashipman/Snake">repo on GitHub</a>.</p>
<h3>Tetris</h3>
<p>Playing around with developing a game using TDD. Completely unplayable but the tests all pass! Java; <a href="https://github.com/annashipman/Tetris">repo on GitHub</a>.</p>
<h3>Game Jam games</h3>
<p>I took part in the <a href="https://globalgamejam.org/">Global Game Jam</a> in 2010, 2011 and 2012, in Glasgow.</p>
<p>The first game I made was Bacteria Warfare! A good fun and playable game. Unfortunately this was in Flash so no longer playable, but the ActionScript code is <a href="https://github.com/annashipman/bacteria-warfare">on GitHub</a>.</p>
<p>The two other games I made were A Serpent's Tale (Jump and catch the stars or just roll along and see the circle of life rolling along too.) in Unity; and For Flock's Sake (Your job is to herd the birds into the holding pen using their natural flocking behaviour) in Python, PyOpenGL, PyGame. The code for both were on the Game Jam archive server but this seems to have disapepared. Oh well!</p>
</div>

<div class="left-column">

<h1>Other stuff</h1>
Some other things I do.
</div>

{% include footer.html %}
