---
---
{% include header.html %}

<div class="left-column">
  <div class="sidebar">
    <p>I am a technical director and software developer living and working in London.</p>
</p>I am Technical Director for Customer Products at the <a href="https://www.ft.com/">Financial Times</a>, leading on the award-winning <a href="https://www.ft.com">FT.com</a> website and the FT iPhone and Android apps.
    <p>I <a href="jfdi.html">blog</a>, <a href="http://twitter.com/annashipman">tweet</a>, <a href="https://github.com/annashipman">code</a>, and play pool.</p>
<p>You can see a <a href="/bio.html">slightly longer bio</a> or have a look at my <a href="/cv.html">CV</a> for more.</p>
  </div>
</div>

<div class="right-column">
  <div><h1><a href="jfdi.html">Recent blog posts</a></h1></div>
  {% for post in site.posts limit:10 %}
    <div id="{{ post.anchor_id }}" class="blog-post">
      <h1><a href="{{post.url}}">{{ post.title}}</a></h1>
      <date>{{ post.date | date_to_long_string }}</date>
        {{ post.excerpt }}
    </div>
{% endfor %}
</div>

{% include footer.html %}
