---
---
{% include header.html %}

<div class="left-column">
  <div class="sidebar">
    <p>I am a technical architect and software developer living and working in London.</p>
</p>I am <a href="https://governmenttechnology.blog.gov.uk/2016/11/18/welcome-to-our-new-open-source-lead/">Open Source Lead</a> at the <a href="https://gds.blog.gov.uk/about/">Government Digital Service</a>.</p>
    <p>I <a href="jfdi.html">blog</a>, <a href="http://twitter.com/annashipman">tweet</a>, <a href="https://github.com/annashipman">code</a>, and play pool.</p>
<p>You can see a <a href="/bio.html">slightly longer bio</a> or have a look at my <a href="/cv.html">CV</a> for more.</p>
  </div>
</div>

<div class="right-column">
  <div><h1><a href="jfdi.html">Recent blog posts</a></h1></div>
  {% for post in site.posts limit:10 %}
    <div id="{{ post.anchor_id }}" class="blog-post">
      <h1><a href="{{post.url}}">{{ post.title}}</a></h1>
      <date>{{ post.date | date_to_long_string }}</date>
        {{ post.excerpt }}
    </div>
{% endfor %}
</div>

{% include footer.html %}
