---
---

{% include header.html page_name=" : JFDI" %}

<div class="left-column">
    {% include bio_sidebar.html %}
    {% include posts_list.html %}
</div>

<div class="right-column">

  {% for post in site.posts %}
    <div id="{{ post.anchor_id }}" class="blog-post">
      <h1><a href="{{post.url}}">{{ post.title}}</a></h1>
      <date>{{ post.date | date_to_long_string }}</date>
    {% if post %}
      {% assign tags = post.tags %}
    {% else %}
      {% assign tags = page.tags %}
    {% endif %}
    {% for tag in tags %}
      / <a href="{{site.baseurl}}/tags.html#{{tag|slugize}}">{{tag}}</a>
    {% endfor %}
        {{ post.content }}
    </div>
  {% endfor %}

</div>

{% include footer.html %}
