---
---
{% include header.html page_name=" : Speaking" %}

<div class="right-column">
<h1>Conference talks</h1>
<h2><a href="https://turingfest.com/speaker/anna-shipman/">Analysing, Deciding, Doing: How to develop and execute an effective strategy</a></h2>
<date>28th June 2023</date> <span class="conference-name">Turing Fest</span>
<p>Tools, techniques and actionable advice to help you create and deliver an effective strategy. Slides and video in my <a href="/jfdi/analysing-deciding-doing.html">write up</a>.</p>
<h2><a href="https://conference.ctocraft.com/london-2023/event/keynote-presentation-devex-what-actually-drives-productivity/">Keynote Fireside Chat: Strategic Technology Leadership</a></h2>
<date>24th May 2023</date> <span class="conference-name">CTO Craft Con</span>
<p>A fireside chat with Emma Hopkinson-Spark about building and executing strategy. <a href="/jfdi/strategy-fireside-chat.html">Write-up here</a>.</p>
<h2><a href="https://learning.oreilly.com/videos/software-architecture-hour/0636920937104/0636920937104-video345687/">Software Architecture Hour: Technical Strategy with Anna Shipman</a></h2>
<date>4th May 2023</date> <span class="conference-name">Software Architecture Hour with Neal Ford</span>
<p>A discussion with Neal Ford on technical strategy; what it is, how to create it and how to get buy-in. <a href="https://learning.oreilly.com/videos/software-architecture-hour/0636920937104/0636920937104-video345687/">Watch here if you have an O'Reilly account</a>.</p>
<h2><a href="https://vimeo.com/720550390/123b9a671b">The difficult teenage years: setting your tech strategy after the launch</a></h2>
<date>10th June 2022</date> <span class="conference-name">LeadingEng London</span>
<p>How to create a strategy, with examples from how we created the FT.com tech strategy after the launch, delivered at <a href="https://leaddev.com/technical-direction-strategy/difficult-teenage-years-setting-your-tech-strategy-after-launch">LeadingEng London</a>. Slides are in my <a href="/jfdi/difficult-teenage-years-leadeng.html">write-up</a> and video is <a href="https://vimeo.com/720550390/123b9a671b">on Vimeo<a/>.</p>
<h2><a href="https://plus.qconferences.com/plus2022/presentation/no-next-next-fighting-entropy-your-microservices-architecture">No Next Next: Fighting Entropy in Your Microservices Architecture</a></h2>
<date>17th May 2022</date> <span class="conference-name">QCon Plus</span>
<p>QConPlus is an online conference with the same talks as QCon. <a href="https://plus.qconferences.com/plus2022/presentation/no-next-next-fighting-entropy-your-microservices-architecture">How to avoid entropy in your microservices architecture.</a> Slides and video are in my <a href="/jfdi/fighting-entropy-qcon.html">QCon write-up</a>.</p>
<h2><a href="https://qconlondon.com/london2022/presentation/no-next-next-fighting-entropy-microservices-architecture">No Next Next: Fighting Entropy in Your Microservices Architecture</a></h2>
<date>6th April 2022</date> <span class="conference-name">QCon London</span>
<p>How to avoid entropy in your microservices architecture, delivered at <a href="https://qconlondon.com/london2022/presentation/no-next-next-fighting-entropy-microservices-architecture">QCon London</a>. Slides and video are in my <a href="/jfdi/fighting-entropy-qcon.html">write-up</a>.</p>
<h2>The good, the bad and the tech strategy</h2>
<date>15th February 2022</date> <span class="conference-name">LeadDev Together</span>
<p>What strategy is, what good strategy looks like and what a good tech strategy is at <a href="https://events.leaddev.com/together">LeadDev Together</a>. Slides are in my <a href="/jfdi/good-bad-tech-strategy.html">write-up</a>.</p>
<h2><a href="https://leaddev.com/technical-direction-strategy/creating-defining-and-refining-effective-tech-strategy">Creating, defining and refining an effective tech strategy</a></h2>
<date>21st January 2021</date> <span class="conference-name">LeadDev Live</span>
<p>I faciliated a panel on tech strategy at <a href="https://leaddev.com/course/leaddev-live">LeadDev Live</a>. I've done a <a href="/jfdi/tech-strategy-panel.html">write up, with a link to the video</a>.</p>
<h2><a href="https://vimeo.com/showcase/7882845/video/488034792">How Durable Teams Take You Further, Faster</a></h2>
<date>2nd December 2020</date> <span class="conference-name">Keynote: CTO Craft Conf</span>
<p>I gave a keynote at <a href="https://conference.ctocraft.com/">CTO craft conference</a> about why and how we moved to durable teams, and what we've learned, one year on. <a href="/jfdi/durable-teams-keynote.html">Video and slides are in my write-up</a>.</p>
<h2><a href="https://www.youtube.com/watch?v=gWXYVOjb-tA">Panel: The multiple faces of technical leadership</a></h2>
<date>6th July 2020</date> <span class="conference-name">Codemotion EU Meetup</span>
<p>A panel about technical leadership, with the excellent Omosola Odetunde and Pat Kua. I've written some <a href="/jfdi/tech-leadership-panel.html">notes about what we covered</a>.</p>
<h2><a href="https://www.technottingham.com/events/tech-nottingham-may-2020">The difficult teenage years at Tech Nottingham</a></h2>
<date>11th May 2020</date> <span class="conference-name">Tech Nottingham</span>
<p>A replay of my tech strategy talk, followed by a live Q&A, for a remote Tech Nottingham event. I've done a <a href="/jfdi/tech-nottingham.html">brief write-up</a>.</p>
<h2><a
href="https://youtu.be/EkfqgQXfEv8">After the launch: the difficult teenage years</a></h2>
<date>15th May 2019</date> <span class="conference-name">Continuous Lifecycle London</span>
<p>How to create a technical strategy after launching a new product.
<p>Video and slides are in <a href="/jfdi/after-the-launch.html">my write-up</a>.</p>
<h2><a
href="https://www.youtube.com/watch?v=M94Hg1mMGAg">How coding in the open can help you release faster</a></h2>
<date>20th March 2018</date> <span class="conference-name">Pipeline conference</span>
<p>How coding in the open can help speed up all stages of the release cycle. Delivered at <a href="https://learn.pipelineconf.info/">Pipeline conference</a>.</p>
<p>Video, slides and a great sketchnote are in <a href="/jfdi/open-code-helps-you-release-faster.html">my write-up</a>.</p>

<h2><a
href="https://www.turingfest.com/videos/anna-shipman/coding-open-government">Coding in the open in government</a></h2>
<date>3rd August 2017</date> <span class="conference-name">Turing Fest</span>
< p>What coding in the open means and its benefits to government and industry.
Delivered at <a
href="https://www.turingfest.com/">Turing Fest</a>.</p>

<p>Video is <a href="https://www.turingfest.com/videos/anna-shipman/coding-open-government">on their site</a> (you have to register), and slides are on <a href="https://www.slideshare.net/annashipman/coding-in-the-open-in-government-78530680">SlideShare</a>.</p>
<h2><a
href="https://gotocon.com/berlin-2016/presentations/show_talk.jsp?oid=7984">Open sourcing government</a></h2>
<date>14 November 2016</date> <span class="conference-name">GOTO Berlin</span>
<p>An introduction to coding in the open and its benefits and challenges, and what my plans are for government Open Source as Open Source Lead.
Delivered at <a
href="https://gotocon.com/berlin-2016/presentations/show_talk.jsp?oid=7984">GOTO Berlin</a>.</p>
<p><a href="https://www.youtube.com/watch?v=h8vlLRZxedg&feature=youtu.be">Video is on YouTube</a> and slides are <a href="http://www.slideshare.net/annashipman/open-sourcing-government-68907474">on SlideShare</a>.</p>
<h2><a
href="https://www.youtube.com/watch?v=y6hbrS3DheU">Operations: a developer's
guide</a></h2>
<date>06 November 2015</date> <span class="conference-name">FFConf</span>
<p>An introduction to the web ops skills that will help you be a better
developer. Delivered at <a
href="http://2015.ffconf.org/">FFConf</a>.</p>
<p>Slides and links are <a href="/jfdi/slides-from-ops-a-devs-guide.html">posted
here</a> and <a href="https://www.youtube.com/watch?v=y6hbrS3DheU">video is on
YouTube</a>.</p>
<h2><a
href="https://www.youtube.com/watch?v=OLOaq-Xf5zU">A PaaS for
government</a></h2>
<date>29 October 2015</date> <span class="conference-name">Keynote: Velocity EU</span>
<p>I gave a keynote at VelocityEU about the work I've been leading at GDS on building a PaaS
for government.</p>
<a href="https://www.youtube.com/watch?v=OLOaq-Xf5zU">Video is on
YouTube</a> and the <a
href="http://www.slideshare.net/annashipman/a-paas-for-government">slides are here</a>.</p>
<h2><a
href="https://ucisa.mediasite.com/mediasite/Play/fac6d59c22664589a74d62bf4ec64d4e1d?catalog=df689fa652624fb08419197ae3afcc852 ">Digital
infrastructure for the government</a></h2>
<date>30 September 2015</date> <span class="conference-name">UCISA</span>
<p>I delivered a talk at <a
href="https://www.ucisa.ac.uk/">UCISA</a>,
the conference for the Universities and Colleges Information Systems Association
about the work I've been leading on investigating a
PaaS for government. There is a video which you can find on <a
href="https://ucisa.mediasite.com/mediasite/Play/fac6d59c22664589a74d62bf4ec64d4e1d?catalog=df689fa652624fb08419197ae3afcc8521">this
page</a> (you may have to register).</p>
<h2><a href="http://www.infoq.com/presentations/gov-uk-devops">Delivering GOV.UK: DevOps for the nation</a></h2>
<date>04 March 2015</date> <span class="conference-name">QCon London</span>
<p>My QCon talk on how we do DevOps on <a href="https://www.gov.uk">GOV.UK</a>.
<a href="http://www.infoq.com/presentations/gov-uk-devops"/>Video is here</a>,
and the slides are <a
href="http://www.slideshare.net/annashipman/delivering-govuk-devops-for-the-nation">on
Slideshare</a> There is also a nice write-up of it on <a
href="http://www.infoq.com/news/2015/03/gds-uk-gov-devops">the InfoQ site</a>.
It was listed as one of the top 5 presentations (<b>edit:</b> sadly link is now dead) from the event.</p>
<h2><a href="https://www.youtube.com/watch?v=KRMYr_Bw04g">Infrastructure as Code in Government</a></h2>
<date>16 September 2014</date> <span class="conference-name">Velocity NY</span>
<p>A talk about how we do infrastructure as code on <a href="https://www.gov.uk">GOV.UK</a> and my work on <a href="http://gds-operations.github.io/vcloud-tools"/>vCloud Tools</a>, our open-source tools for automating provisioning. <a href="https://www.youtube.com/watch?v=KRMYr_Bw04g">Video is here</a> and slides are <a href="http://www.slideshare.net/annashipman/infra-as-code">on Slideshare</a>.
<h2>Automating Government</h2>
<date>06 June 2014</date> <span class="conference-name">Scotch on the Rocks</span>
<p>I gave a talk at the delightful Scotch on the Rocks in Edinburgh (sadly, no longer running) on my work on <a href="https://github.com/gds-operations/vcloud-tools" target="_blank">vCloud Tools</a> – what we built, how we built it, some hard problems we faced and some tips on how to automate your own infrastructure. <a href="http://www.slideshare.net/annashipman/automating-government" target="_blank">Slides are here</a>.
<h2><a href="http://www.youtube.com/watch?v=Q1qWzz6liK0" target="_blank">Craftsman Softwareship</a></h2>
<date>12 November 2013</date> <span class="conference-name">Ignite London</span>
<p>I gave an Ignite talk based on my <a href="/jfdi/roof-bug-fixing.html">roof bug-fixing</a> blog post.</p><p><a href="http://www.youtube.com/watch?v=Q1qWzz6liK0" target="_blank">Watch it</a>.</p>
<h2><a href="http://xpday.wordpress.com/2012/10/13/keynote-growing-fast-within-government/" target="_blank">Growing Fast Within Government</a></h2>
<date>1 May 2013</date> <span class="conference-name">Edinburgh BCS</span>
<p>Talk about GDS at the <a href="http://www.edinburgh.bcs.org/events/2012-13/130501.htm" target="_blank">Edinburgh BCS</a>. <a href="http://www.slideshare.net/annashipman/x-pday-23022981"
target="_blank">Slides</a>.</p>
<h2><a href="http://xpday.wordpress.com/2012/10/13/keynote-growing-fast-within-government/" target="_blank">Growing Fast Within Government</a></h2>
<date>13 October 2012</date> <span class="conference-name">Keynote: XPDay</span>
<p>Keynote about GDS at <a href="https://xpday.wordpress.com/" target="_blank">XPDay</a> 2012. <a href="http://www.slideshare.net/annashipman/x-pday-23022981"
target="_blank">Slides</a>.</p>
<h2><a href="http://www.spaconference.org/spa2012/sessions/session412.html" target="_blank">Data Visualisations in JavaScript</a></h2>
<date>03 July 2012, 1a2 Nov 2012</date> <span class="conference-name">SPA, MiniSPA</span>
<p>A workshop showing how to create three different kinds of visualisations in
three different JavaScript visualisation libraries. I delivered this at <a href="http://www.spaconference.org/" target="_blank">SPA</a> 2012. It received very high feedback scores and I was invited to deliver it again at <a href="http://bcs-spa.org/minispa-2012.html" target="_blank">miniSPA</a> (the six top sessions from SPA) 2012</a>.<p>

<p><a href="http://www.slideshare.net/annashipman/data-visualisations-in-iavascript" target="_blank">Slides</a>, <a href="https://github.com/annashipman/data-visualisations-in-javascript" target="_blank">Code</a>.</p>

<h2>When Agile Might Not Be The Best Solution</h2>
<date>07 December 2009</date> <span class="conference-name">XPDay</span>
<p>A talk outlining some contraindications for Agile adoption. I delivered this
in 2009 at XPDay, one of the main pro-Agile conferences, and it was very popular!</p>

</div>
<div class="left-column">

{% include bio_sidebar.html %}

</div>

{% include footer.html %}
