  <div>
    <p>Strategic technology leader. CTO at <a href="https://www.koothplc.com/">Kooth</a>, a company specialising in digital mental health. Previously Technical Director at the Financial Times, Technical Architect at the Government Digital Service.</p>
    <p>I <a href="speaking.html">speak at conferences</a> and write about strategy and tech leadership on my <a href="jfdi.html">blog, JFDI</a>.</p>
    <p><a href="https://www.linkedin.com/in/annashipman/">LinkedIn</a>, <a href="https://github.com/annashipman">GitHub</a>, my <a href="https://mailchi.mp/819c19b20f3e/sign-up-to-anna-shipmans-mailing-list">mailing list</a>.</p>
  </div>
