<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html lang="en-GB">
  <head>
    <title>Anna Shipman : JFDI</title>
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="/style.css" />
      <link rel="alternate" type="application/x.atom+xml" title="RSS feed for this site" href="/atom.xml" />
  </head>
  <body>
    <div class="header">
      <span class="name"><a href="/">Anna Shipman</a> : JFDI</span>
      <div class="navigation">
        <a href="http://www.twitter.com/annashipman" class="header-text twitter">Follow me on Twitter</a>
        <table class="link-group">
          <tr>
            <td><a href="/jfdi.html" class="header-text">JFDI</a></td>
            <td><a href="/cv.html" class="header-text">CV</a></td>
            <td><a href="/etc.html" class="header-text">Etc</a></td>
          </tr>
        </table>
      </div>
    </div>
