<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html lang="en-GB">
  <head>
    <title>Anna Shipman{{ include.page_name }}</title>
      <meta name="viewport" content="initial-scale=1, shrink-to-fit=no">
      <meta name="title" content="Anna Shipman">
      <meta name="description" content="Strategic technology leader">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://www.annashipman.co.uk/">
      <meta property="og:title" content="Anna Shipman">
      <meta property="og:description" content="Strategic technology leader">
      <meta property="og:image" content="https://www.annashipman.co.uk/img/mediacard.jpeg">
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="/style.css" />
      <link rel="alternate" type="application/x.atom+xml" title="RSS feed for this site" href="/atom.xml" />
      {% if page.canonical_url %}
        <link rel="canonical" href="{{ page.canonical_url }}">
      {% endif %}
      {{ include.canonical_link }}
      {{ include.meta_refresh }}
  </head>
  <body>
    <div class="header">
      <span class="name"><a href="/">Anna Shipman</a>{{ include.page_name }}</span>
      <div class="navigation">
        <table class="link-group">
          <tr>
            <td><a href="/jfdi.html" class="header-text">JFDI</a></td>
            <td><a href="/cv.html" class="header-text">CV</a></td>
            <td><a href="/speaking.html" class="header-text">Speaking</a></td>
            <td><a href="/etc.html" class="header-text">Etc</a></td>
          </tr>
        </table>
        <a href="https://mailchi.mp/819c19b20f3e/sign-up-to-anna-shipmans-mailing-list" class="header-text follow">Sign up to my mailing list</a>
      </div>
    </div>
