<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html lang="en-GB">
  <head>
    <title>Anna Shipman{{ include.page_name }}</title>
      <meta name="viewport" content="initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="/style.css" />
      <link rel="alternate" type="application/x.atom+xml" title="RSS feed for this site" href="/atom.xml" />
      {{ include.canonical_link }}
      {{ include.meta_refresh }}
  </head>
  <body>
    <div class="header">
      <span class="name"><a href="/">Anna Shipman</a>{{ include.page_name }}</span>
      <div class="navigation">
        <table class="link-group">
          <tr>
            <td><a href="/jfdi.html" class="header-text">JFDI</a></td>
            <td><a href="/cv.html" class="header-text">CV</a></td>
            <td><a href="/speaking.html" class="header-text">Speaking</a></td>
            <td><a href="/etc.html" class="header-text">Etc</a></td>
          </tr>
        </table>
        <a href="http://www.twitter.com/annashipman" class="header-text twitter">Follow me on Twitter</a>
      </div>
    </div>
