---
layout: default
---

<div class="colmask threecol">
    <div class="colmid">
        <div class="colleft">
            <div class="col1">
                <!-- Column 1 start -->
                {{ content }}
                <!-- Column 1 end -->
            </div>
            <div class="col2">
                <!-- Column 2 start -->
                <div class="sidebar">
<ul>
<li><a href="#puppet-module">Creating a Puppet module</a> <date>9th September
2013</date></li>
<li><a href="#regex-picture">Some Regex in the form of a Picture!</a> <date>10th
August 2013</date></li>
<li><a href="#where-start">Where Do I Start?</a> <date>6th July 2013</date></li>
<li><a href="#roof-bug-fixing">Roof Bug-fixing</a> <date>21st May
2013</date></li>
<li><a href="#upgrading">Ugrading to 12.04...</a> <date>6th May 2013</date></li>
<li><a href="#partitioning">Partioning!</a> <date>24th April 2013</date></li>
<li><a href="#roof-hacking">Roof Hacking</a> <date>24th March 2013</date></li>
<li><a href="#estimating">How to Estimate</a> <date>21st January
2013</date></li>
<li><a href="#learning-perl">Learning the perls</a> <date>20th November
2012</date></li>
<li><a href="#d3">Learning More About D3</a> <date>19th July 2012</date></li>
<li><a href="#cap-or-pacelc">CAP again – or should that be PACELC?</a>
<date>15th July 2012</date></li>
<li><a href="#cap-theorem-and-mongodb">The CAP Theorem and MongoDB</a>
<date>29th April 2012</date></li>
<li><a href="#questions-for-data">What Should Your Work Log Tell You?</a>
<date>15th April 2012</date></li>
<li><a href="#personal-development-1">P.O.A.</a> <date>20th February
2012</date></li>
<li><a href="#gamejam-knowledge">Would Have Been Useful to Know at My First Game
Jam</a> <date>14th February 2012</date></li>
<li><a href="#jstalk-structure">JavaScript Talk Takes Shape</a> <date>21st
January 2012</date> </li>
<li><a href="#chat-with-ian">Preparation Begins for the JavaScript Talk...</a>
<date>18th December 2011</date> </li>
<li><a href="#js-talk">JavaScript Visualisations Proposal</a> <date>30th
November 2011</date></li>
<li><a href="#continuing-struggles">My Continuing Struggles with Linux</a>
<date>17th October 2011</date></li>
<li><a href="#sorl-bites-me">Sorl-thumbnail Comes Back to Bite Me</a> <date>12th
September 2011</date></li>
<li><a href="#evaluation-of-css">How to Write Efficient CSS – Evaluation of
CSS</a> <date>29th August 2011</date></li>
<li><a href="#basic-css">How to Write Efficient CSS – Basic CSS</a> <date>6th
August 2011</date></li>
<li><a href="#firefox-part-2">A Voyage of Discovery – Upgrading Firefox Part
2</a> <date>27th July 2011</date></li>
<li><a href="#firefox-part-1">Upgrading Firefox – part 1...</a> <date>20th July
2011</date></li>
<li><a href="#learned-today">What I have learned about folder structure
today</a> <date>22nd April 2011</date></li>
</ul>
</div>
                <!-- Column 2 end -->
            </div>
            <div class="col3">
                <!-- Column 3 start -->
                <!-- Column 3 end -->
            </div>
        </div>
    </div>
</div>
