<!doctype html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html lang="en-GB">
    <head>
        <title>Anna Shipman : JFDI</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <!-- Anything good about the styling of this website is down to the
amazing Chris Govias; you should hire him: http://work.chrisgovias.com/
This page also uses the 'Holy Grail' 3 coloumn liquid layout by Matthew James
Taylor: http://matthewjamestaylor.com/blog/perfect-3-column.htm -->
    </head>
    <body>
        <div class="header">
            <span class="name"><a href="/">Anna Shipman</a> : JFDI</span>
            <div class="navigation">
                <a href="http://www.twitter.com/annashipman" class="header-text twitter">Follow me on Twitter</a>
                <table class="link-group">
                    <tr>
                        <td><a href="/jfdi.html" class="header-text">JFDI</a></td>
                        <td><a href="/cv.html" class="header-text">CV</a></td>
                        <td><a href="/games.html" class="header-text">Games</a></td>
                    </tr>
                </table>
            </div>
        </div>
        {{ content }}
<div id="footer">
</div>

</body>
</html>
